DMS Assignment3 16933824 16938158/StudentClient/web/WEB-INF/wsdl/localhost_8080/StudentServer/StudentBeanWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServicePackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServicePackage/" name="StudentBeanWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServicePackage/" schemaLocation="http://localhost:8080/StudentServer/StudentBeanWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createStudent">
<part name="parameters" element="tns:createStudent"/>
</message>
<message name="createStudentResponse">
<part name="parameters" element="tns:createStudentResponse"/>
</message>
<message name="plusStudent">
<part name="parameters" element="tns:plusStudent"/>
</message>
<message name="plusStudentResponse">
<part name="parameters" element="tns:plusStudentResponse"/>
</message>
<message name="getStudentList">
<part name="parameters" element="tns:getStudentList"/>
</message>
<message name="getStudentListResponse">
<part name="parameters" element="tns:getStudentListResponse"/>
</message>
<message name="setStudentList">
<part name="parameters" element="tns:setStudentList"/>
</message>
<portType name="StudentBeanWebService">
<operation name="createStudent">
<input wsam:Action="http://WebServicePackage/StudentBeanWebService/createStudentRequest" message="tns:createStudent"/>
<output wsam:Action="http://WebServicePackage/StudentBeanWebService/createStudentResponse" message="tns:createStudentResponse"/>
</operation>
<operation name="plusStudent">
<input wsam:Action="http://WebServicePackage/StudentBeanWebService/plusStudentRequest" message="tns:plusStudent"/>
<output wsam:Action="http://WebServicePackage/StudentBeanWebService/plusStudentResponse" message="tns:plusStudentResponse"/>
</operation>
<operation name="getStudentList">
<input wsam:Action="http://WebServicePackage/StudentBeanWebService/getStudentListRequest" message="tns:getStudentList"/>
<output wsam:Action="http://WebServicePackage/StudentBeanWebService/getStudentListResponse" message="tns:getStudentListResponse"/>
</operation>
<operation name="setStudentList">
<input wsam:Action="http://WebServicePackage/StudentBeanWebService/setStudentList" message="tns:setStudentList"/>
</operation>
</portType>
<binding name="StudentBeanWebServicePortBinding" type="tns:StudentBeanWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="plusStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setStudentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="StudentBeanWebService">
<port name="StudentBeanWebServicePort" binding="tns:StudentBeanWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentServer/StudentBeanWebService"/>
</port>
</service>
</definitions>