StudentClient/web/WEB-INF/wsdl/localhost_8080/StudentServer/AnnouncementWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServicePackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServicePackage/" name="AnnouncementWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServicePackage/" schemaLocation="http://localhost:8080/StudentServer/AnnouncementWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="selectAllAnnouncementDB">
<part name="parameters" element="tns:selectAllAnnouncementDB"/>
</message>
<message name="selectAllAnnouncementDBResponse">
<part name="parameters" element="tns:selectAllAnnouncementDBResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="makeAnnouncementObject">
<part name="parameters" element="tns:makeAnnouncementObject"/>
</message>
<message name="makeAnnouncementObjectResponse">
<part name="parameters" element="tns:makeAnnouncementObjectResponse"/>
</message>
<message name="getAnnouncementList">
<part name="parameters" element="tns:getAnnouncementList"/>
</message>
<message name="getAnnouncementListResponse">
<part name="parameters" element="tns:getAnnouncementListResponse"/>
</message>
<message name="addAnnouncement">
<part name="parameters" element="tns:addAnnouncement"/>
</message>
<message name="addAnnouncementResponse">
<part name="parameters" element="tns:addAnnouncementResponse"/>
</message>
<message name="initAnnouncement">
<part name="parameters" element="tns:initAnnouncement"/>
</message>
<message name="initAnnouncementResponse">
<part name="parameters" element="tns:initAnnouncementResponse"/>
</message>
<portType name="AnnouncementWebService">
<operation name="selectAllAnnouncementDB">
<input wsam:Action="http://WebServicePackage/AnnouncementWebService/selectAllAnnouncementDBRequest" message="tns:selectAllAnnouncementDB"/>
<output wsam:Action="http://WebServicePackage/AnnouncementWebService/selectAllAnnouncementDBResponse" message="tns:selectAllAnnouncementDBResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/AnnouncementWebService/selectAllAnnouncementDB/Fault/Exception"/>
</operation>
<operation name="makeAnnouncementObject">
<input wsam:Action="http://WebServicePackage/AnnouncementWebService/makeAnnouncementObjectRequest" message="tns:makeAnnouncementObject"/>
<output wsam:Action="http://WebServicePackage/AnnouncementWebService/makeAnnouncementObjectResponse" message="tns:makeAnnouncementObjectResponse"/>
</operation>
<operation name="getAnnouncementList">
<input wsam:Action="http://WebServicePackage/AnnouncementWebService/getAnnouncementListRequest" message="tns:getAnnouncementList"/>
<output wsam:Action="http://WebServicePackage/AnnouncementWebService/getAnnouncementListResponse" message="tns:getAnnouncementListResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/AnnouncementWebService/getAnnouncementList/Fault/Exception"/>
</operation>
<operation name="addAnnouncement">
<input wsam:Action="http://WebServicePackage/AnnouncementWebService/addAnnouncementRequest" message="tns:addAnnouncement"/>
<output wsam:Action="http://WebServicePackage/AnnouncementWebService/addAnnouncementResponse" message="tns:addAnnouncementResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/AnnouncementWebService/addAnnouncement/Fault/Exception"/>
</operation>
<operation name="initAnnouncement">
<input wsam:Action="http://WebServicePackage/AnnouncementWebService/initAnnouncementRequest" message="tns:initAnnouncement"/>
<output wsam:Action="http://WebServicePackage/AnnouncementWebService/initAnnouncementResponse" message="tns:initAnnouncementResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/AnnouncementWebService/initAnnouncement/Fault/Exception"/>
</operation>
</portType>
<binding name="AnnouncementWebServicePortBinding" type="tns:AnnouncementWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="selectAllAnnouncementDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="makeAnnouncementObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnnouncementList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addAnnouncement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="initAnnouncement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="AnnouncementWebService">
<port name="AnnouncementWebServicePort" binding="tns:AnnouncementWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentServer/AnnouncementWebService"/>
</port>
</service>
</definitions>