StudentClient/web/WEB-INF/wsdl/localhost_8080/StudentServer/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServicePackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServicePackage/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServicePackage/" schemaLocation="http://localhost:8080/StudentServer/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="makeStudent">
<part name="parameters" element="tns:makeStudent"/>
</message>
<message name="makeStudentResponse">
<part name="parameters" element="tns:makeStudentResponse"/>
</message>
<message name="initList">
<part name="parameters" element="tns:initList"/>
</message>
<message name="initListResponse">
<part name="parameters" element="tns:initListResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="getStudentList">
<part name="parameters" element="tns:getStudentList"/>
</message>
<message name="getStudentListResponse">
<part name="parameters" element="tns:getStudentListResponse"/>
</message>
<portType name="StudentWebService">
<operation name="makeStudent">
<input wsam:Action="http://WebServicePackage/StudentWebService/makeStudentRequest" message="tns:makeStudent"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/makeStudentResponse" message="tns:makeStudentResponse"/>
</operation>
<operation name="initList">
<input wsam:Action="http://WebServicePackage/StudentWebService/initListRequest" message="tns:initList"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/initListResponse" message="tns:initListResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/initList/Fault/Exception"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://WebServicePackage/StudentWebService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="getStudentList">
<input wsam:Action="http://WebServicePackage/StudentWebService/getStudentListRequest" message="tns:getStudentList"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/getStudentListResponse" message="tns:getStudentListResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="makeStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentServer/StudentWebService"/>
</port>
</service>
</definitions>