StudentClient/src/conf/xml-resources/web-service-references/testWebService/wsdl/localhost_8080/StudentServer/testWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServicePackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServicePackage/" name="testWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServicePackage/" schemaLocation="http://localhost:8080/StudentServer/testWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="initList">
<part name="parameters" element="tns:initList"/>
</message>
<message name="initListResponse">
<part name="parameters" element="tns:initListResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="makeStudent">
<part name="parameters" element="tns:makeStudent"/>
</message>
<message name="makeStudentResponse">
<part name="parameters" element="tns:makeStudentResponse"/>
</message>
<portType name="testWebService">
<operation name="addStudent">
<input wsam:Action="http://WebServicePackage/testWebService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://WebServicePackage/testWebService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="initList">
<input wsam:Action="http://WebServicePackage/testWebService/initListRequest" message="tns:initList"/>
<output wsam:Action="http://WebServicePackage/testWebService/initListResponse" message="tns:initListResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://WebServicePackage/testWebService/initList/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://WebServicePackage/testWebService/initList/Fault/SQLException"/>
</operation>
<operation name="makeStudent">
<input wsam:Action="http://WebServicePackage/testWebService/makeStudentRequest" message="tns:makeStudent"/>
<output wsam:Action="http://WebServicePackage/testWebService/makeStudentResponse" message="tns:makeStudentResponse"/>
</operation>
</portType>
<binding name="testWebServicePortBinding" type="tns:testWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="makeStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="testWebService">
<port name="testWebServicePort" binding="tns:testWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentServer/testWebService"/>
</port>
</service>
</definitions>