StudentApp/web/WEB-INF/wsdl/localhost_8080/StudentServer/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServicePackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServicePackage/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServicePackage/" schemaLocation="http://localhost:8080/StudentServer/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAnnounce">
<part name="parameters" element="tns:getAnnounce"/>
</message>
<message name="getAnnounceResponse">
<part name="parameters" element="tns:getAnnounceResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="makeStudent">
<part name="parameters" element="tns:makeStudent"/>
</message>
<message name="makeStudentResponse">
<part name="parameters" element="tns:makeStudentResponse"/>
</message>
<message name="checkPassword">
<part name="parameters" element="tns:checkPassword"/>
</message>
<message name="checkPasswordResponse">
<part name="parameters" element="tns:checkPasswordResponse"/>
</message>
<message name="initList">
<part name="parameters" element="tns:initList"/>
</message>
<message name="initListResponse">
<part name="parameters" element="tns:initListResponse"/>
</message>
<message name="getStudentList">
<part name="parameters" element="tns:getStudentList"/>
</message>
<message name="getStudentListResponse">
<part name="parameters" element="tns:getStudentListResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="announceDecode">
<part name="parameters" element="tns:announceDecode"/>
</message>
<message name="announceDecodeResponse">
<part name="parameters" element="tns:announceDecodeResponse"/>
</message>
<message name="sentMessageToAnnounceWithTarget">
<part name="parameters" element="tns:sentMessageToAnnounceWithTarget"/>
</message>
<message name="sentMessageToAnnounceWithTargetResponse">
<part name="parameters" element="tns:sentMessageToAnnounceWithTargetResponse"/>
</message>
<message name="sentMessageToAnnounce">
<part name="parameters" element="tns:sentMessageToAnnounce"/>
</message>
<message name="sentMessageToAnnounceResponse">
<part name="parameters" element="tns:sentMessageToAnnounceResponse"/>
</message>
<portType name="StudentWebService">
<operation name="getAnnounce">
<input wsam:Action="http://WebServicePackage/StudentWebService/getAnnounceRequest" message="tns:getAnnounce"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/getAnnounceResponse" message="tns:getAnnounceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/getAnnounce/Fault/Exception"/>
</operation>
<operation name="makeStudent">
<input wsam:Action="http://WebServicePackage/StudentWebService/makeStudentRequest" message="tns:makeStudent"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/makeStudentResponse" message="tns:makeStudentResponse"/>
</operation>
<operation name="checkPassword">
<input wsam:Action="http://WebServicePackage/StudentWebService/checkPasswordRequest" message="tns:checkPassword"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/checkPasswordResponse" message="tns:checkPasswordResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/checkPassword/Fault/Exception"/>
</operation>
<operation name="initList">
<input wsam:Action="http://WebServicePackage/StudentWebService/initListRequest" message="tns:initList"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/initListResponse" message="tns:initListResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/initList/Fault/Exception"/>
</operation>
<operation name="getStudentList">
<input wsam:Action="http://WebServicePackage/StudentWebService/getStudentListRequest" message="tns:getStudentList"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/getStudentListResponse" message="tns:getStudentListResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://WebServicePackage/StudentWebService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="announceDecode">
<input wsam:Action="http://WebServicePackage/StudentWebService/announceDecodeRequest" message="tns:announceDecode"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/announceDecodeResponse" message="tns:announceDecodeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/announceDecode/Fault/Exception"/>
</operation>
<operation name="sentMessageToAnnounceWithTarget">
<input wsam:Action="http://WebServicePackage/StudentWebService/sentMessageToAnnounceWithTargetRequest" message="tns:sentMessageToAnnounceWithTarget"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/sentMessageToAnnounceWithTargetResponse" message="tns:sentMessageToAnnounceWithTargetResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/sentMessageToAnnounceWithTarget/Fault/Exception"/>
</operation>
<operation name="sentMessageToAnnounce">
<input wsam:Action="http://WebServicePackage/StudentWebService/sentMessageToAnnounceRequest" message="tns:sentMessageToAnnounce"/>
<output wsam:Action="http://WebServicePackage/StudentWebService/sentMessageToAnnounceResponse" message="tns:sentMessageToAnnounceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServicePackage/StudentWebService/sentMessageToAnnounce/Fault/Exception"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAnnounce">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="makeStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="initList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStudentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="announceDecode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="sentMessageToAnnounceWithTarget">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="sentMessageToAnnounce">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentServer/StudentWebService"/>
</port>
</service>
</definitions>